body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;

}

.hp1 {
    background: url("images/Home\ \(1\).svg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10000;
}

.hp1 img {
    height: 80vh;
    width: 71vw;
    margin-top: -80vh;
    margin-left: 7vw;
}

.para1 {
    font-size: 150px;
    letter-spacing: 0.05em;
    line-height: 150px;
    margin-top: 10vh;
    font-family: 'Lovelace';
    margin-left: 20vw;
    max-width: 800px;
    text-align: center;
}

.para1 p {
    padding-top: 20vh;
}

.footer {
    font-size: 26px;
    font-family: 'Lovelace';

    margin-left: 5vw;
    letter-spacing: 0.05em;
    display: flex;
}

.footer1 {
    max-width: 200px;
}

.footer2 {

    margin-left: 50vw;
}

.hp2 {
    background: url("images/About1.svg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10000;
}

.para2 {
    max-width: 500px;
    font-size: 35px;
    font-family: 'Lovelace';
    font-weight: 700;
    margin-top: 10vh;
    margin-left: 10vw;
}

.p3 {
    font-size: 25px;
    font-family: 'Lovelace';
    font-weight: lighter;
}

.foo {
    max-width: 40vw;
    margin-top: 10vh;
    margin-left: 3vw;

}

.foo button {
    width: 120px;
    height: 50px;
    margin-left: 2vw;
    margin-top: 2vw;
    background-color: #EEECDE;
    color: #156669;
    border-color: #156669;
    border-radius: 0.3em;
    border-width: 0.1em;
    text-decoration: underline;

}

.foo :hover {
    border-color: #8b3dff;
    border-width: 0.2em;
}

/* book_description------------------ */
.col-2 {}

.row1 {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.book_desc {
    height: auto;
    background-repeat: no-repeat;
    align-items: center;
    overflow-x: hidden;
    margin-left: -1vw;
}


.book_desc h3 {
    text-align: justify;
    font-weight: 100;
    font-family: 'Lovelace';
    font-size: 2em;

}

.book_desc img {
    margin-top: 21em;
}

/* -------auth_desc---- */


.auth_desc {
    background-image: url("images/auth_desc.jpg");
    height: auto;
    padding: 3em;
}


.auth_desc {
    display: grid;
    align-items: center;

}

.auth_desc_content {
    margin-top: 6em;

}

.row {
    display: flex;
    flex-direction: row;
}

.row h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 1.8em;
    padding-right: 3em;
    max-width: 60vw;
    margin-top: 0em;
}

.image {
    max-width: 30vw;
    margin-top: -36vh;
    background-image: url("images/auth_desc_auth.jpg");
    background-size: cover;
    height: auto;
    width: 25em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.image img {
    /* height: 35em;
    width: 23em; */
    /* height: auto; */
    /* width: 100%; */
    height: 15em;


}






/* glimpse_into----- */

.glimpse_intro {
    background-image: url("images/Contact.svg");
    height: 100vh;
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.glimpse_intro img {
    height: auto;

}

.glimpse_intro h1 {
    text-align: center;
    font-weight: 100;
    font-family: 'Lovelace';
    font-size: 9em;
}

/* ---------------book start-- */

.book_story {

    padding: 0em 5em 0em 5em;
}




/* glimpse 1-------------------- */

.glimpse-1 {
    height: auto;
    padding: 3em;
}



.glimpse-1_content_img img {

    max-width: 100%;
    height: auto;

}

.glimpse-1_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-1_img img {
    max-width: 100%;
    height: auto;



}

/* glimpse 2-------------------- */


.glimpse-2 {
    /* position: fixed; */
    height: auto;
    padding: 3em;

}



.glimpse-2_content_img img {
    max-width: 100%;
    height: auto;
}

.glimpse-2_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-2_img img {
    max-width: 100%;
    height: auto;
}

/* glimpse3------------- */

.glimpse-3 {
    height: auto;
    padding: 3em;


}



.glimpse-3_content_img img {

    max-width: 100%;
    height: auto;

}

.glimpse-3_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: justify;
    font-size: 2em
}


.glimpse-3_img img {
    max-width: 100%;
    height: auto;



}

/* glimpse4------------- */




.glimpse-4 {
    /* position: fixed; */
    height: auto;
    padding: 3em;

}



.glimpse-4_content_img img {
    max-width: 100%;
    height: auto;
}

.glimpse-4_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-4_img img {
    max-width: 100%;
    height: auto;
}

/* glimpse5---------- */

.glimpse-5 {
    height: auto;
    padding: 3em;


}



.glimpse-5_content_img img {

    max-width: 100%;
    height: auto;

}

.glimpse-5_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-5_img img {
    max-width: 100%;
    height: auto;



}

/* glimpse6--------- */

.glimpse-6 {
    /* position: fixed; */
    height: auto;
    padding: 3em;

}



.glimpse-6_content_img img {
    max-width: 100%;
    height: auto;
}

.glimpse-6_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-6_img img {
    max-width: 100%;
    height: auto;
}

/* glimpse7---------- */

.glimpse-7 {
    height: auto;
    padding: 3em;


}



.glimpse-7_content_img img {

    max-width: 100%;
    height: auto;

}

.glimpse-7_content h3 {
    font-weight: 100;
    font-family: 'Lovelace';
    text-align: start;
    font-size: 2em
}


.glimpse-7_img img {
    max-width: 100%;
    height: auto;



}

/* ------------font */





/* media---- */


@media only screen and (max-width: 500px) {

    .hp1 {
        background: url("images/Home-9.svg");
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 10000;

    }

    .hp1 img {
        height: 50vh;
        width: 90vw;
        margin-top: -10vh;
        margin-left: -10vw;

    }

    .para1 {
        font-size: 50px;
        letter-spacing: 0.05em;
        line-height: 50px;
        margin-top: 2vh;
        padding-right: 0vw;
        font-family: 'Lovelace';

        max-width: 240px;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .para1 p {
        padding-top: 7vh;
    }

    .footer {
        font-size: 15px;
        font-family: 'Lovelace';

        margin-left: 5vw;
        letter-spacing: 0.05em;
        display: flex;
    }

    .footer1 {
        max-width: 300px;
    }

    .footer2 {
        max-width: 300px;
        margin-left: 30vw;
    }

    .hp2 {
        background: url("images/About-3.svg");
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 10000;
    }

    .para2 {
        max-width: 200px;
        font-size: 15px;
        font-family: 'Lovelace';
        font-weight: 700;
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .p3 {
        font-size: 15px;
        font-family: 'Lovelace';
        font-weight: lighter;
    }

    .foo {
        font-size: 8px;
        max-width: 80vw;
        margin-top: 10vh;
        margin-left: 10vw;

    }

    .foo button {

        width: 60px;
        height: 30px;
        margin-left: 2vw;
        margin-top: 2vw;
        background-color: #EEECDE;
    }


    .glimpse-1 {
        padding: 1em;
    }

    .glimpse-1_content_img img {

        height: 5em;
        width: 9em;
    }

    .glimpse-1_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;

    }


    .glimpse-1_img img {

        height: 19.2em;
        width: 19em;
    }

    /* --- */
    .glimpse-2 {
        padding: 1em;
    }

    .glimpse-2_content_img img {

        height: 4em;
        width: 10em;
        padding-left: 1em;
    }

    .glimpse-2_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;
        padding-left: 1em;

    }


    .glimpse-2_img img {
        margin-top: 1em;
        height: 16.2em;
        width: 19em;
    }

    /* ---- */
    .glimpse-3 {
        padding: 1em;
    }

    .glimpse-3_content_img img {

        height: 5em;
        width: 9em;
    }

    .glimpse-3_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;

    }


    .glimpse-3_img img {
        margin-top: 1em;
        height: 19.2em;
        width: 19em;
    }


    /* ---- */

    .glimpse-4 {
        padding: 1em;
    }

    .glimpse-4_content_img img {

        height: 4em;
        width: 11em;
        padding-left: 1em;
    }

    .glimpse-4_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;
        padding-left: 1em;

    }


    .glimpse-4_img img {
        height: 20.2em;
        width: 20em;
        margin-top: 2em;
    }

    /* --------- */

    .glimpse-5 {
        padding: 1em;
    }

    .glimpse-5_content_img img {

        height: 5em;
        width: 12em;
    }

    .glimpse-5_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;

    }


    .glimpse-5_img img {

        height: 24.2em;
        width: 19em;
    }


    /* -------------- */

    .glimpse-6 {
        padding: 1em;
    }

    .glimpse-6_content_img img {

        height: 4em;
        width: 11em;
    }

    .glimpse-6_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;

    }


    .glimpse-6_img img {

        height: 19.2em;
        width: 19em;
    }

    /* ------------ */

    .glimpse-7 {
        padding: 1em;
    }

    .glimpse-7_content_img img {

        height: 5em;
        width: 10em;
    }

    .glimpse-7_content h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;

    }


    .glimpse-7_img img {
        margin-top: 5em;

        height: 18.2em;
        width: 19em;
    }

    /* -------------- */

    .glimpse_intro {
        background-image: url("images/glimpse intro mobile.jpg");
        height: 15em;
        max-width: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .glimpse_intro h1 {
        text-align: center;
        font-weight: 100;
        font-family: 'Lovelace';
        font-size: 2em;
    }

    /* ------------ */

    .auth_desc {
        background-image: url("images/auth_desc.jpg");
        height: auto;
        padding: 1em;

    }

    /* 
    .auth_desc {
        display: grid;
        align-items: center;

    } */

    /* 
    .auth_desc h3 {
        max-width:300px;
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1em;
        padding-right: 3em;
    }


    .auth_desc_img img {
        height: 35em;
        width: 23em;
    } */

    /* ----- */

    .book_desc {
        /* background-image: url("images/book_desc.jpg"); */
        height: auto;
        background-repeat: no-repeat;
        /* align-items: center; */
        overflow-x: hidden;
        display: flex;

    }


    .book_desc h3 {
        text-align: justify;
        font-weight: 100;
        font-family: 'Lovelace';
        font-size: 1em;
        padding-right: 1em;

    }

    .book_desc img {
        margin-top: 14.3em;
        height: 10em;

    }

    .auth_desc {
        background-image: url("images/auth_desc.jpg");
        /* height: auto; */
        background-repeat: ;
        padding: 1em;
        margin-top: 0em;
    }







    .auth_desc h3 {
        min-width: 350px;
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: justify;
        font-size: 1em;
        margin-left: 6vw;
    }

    .image {
        max-width: 400px;
        margin-top: 1vh;
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .image img {
        height: 28vh;
        width: 35vw;
    }


    .auth_desc_content {
        margin-top: 2em;
    }




}

@media (max-width: 980px) and (min-width: 500px) {

    .glimpse_intro h1 {

        font-size: 6em;
    }

    .book_desc h3 {
        padding-top: 2em;
        text-align: justify;
        font-weight: 100;
        font-family: 'Lovelace';
        font-size: 1.5em;
        padding-right: 1em;

    }


    .auth_desc {
        background-image: url("images/auth_desc.jpg");
        height: auto;
        padding: 3em;
    }


    .auth_desc {
        display: grid;
        align-items: center;

    }

    .auth_desc_content {
        margin-top: 3em;
    }


    .auth_desc h3 {
        font-weight: 100;
        font-family: 'Lovelace';
        text-align: start;
        font-size: 1.3em;
        padding-right: 3em;
    }


    .auth_desc_img {
        height: 20em;
    }

    .image img {
        /* height: 35em;
        width: 23em; */
        /* height: auto; */
        /* width: 100%; */
        margin-top: 15em;
        height: 30vh;
        width: 25vw;
        ;

    }





}