body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
 
}
.hp1
{
    background: url("images/Home\ \(1\).svg");
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10000;
}
.hp1 img{
    height:70vh;
    width:70vw; 
   margin-top:-80vh;
   margin-left:5vw;
}
.para1{
    font-size: 150px;
    letter-spacing: 0.05em;
    line-height:150px;
  margin-top:10vh;
    font-family: 'Lovelace';
    margin-left:20vw;
    max-width:800px;
    text-align:center;
}
.footer
{
    font-size: 30px;
    font-family: 'Lovelace';
 
    margin-left:5vw;
    letter-spacing: 0.05em;
    display:flex;
}
.footer1
{
    max-width:200px;
}
.footer2
{
 
    margin-left:50vw;
}

.hp2
{
    background: url("images/About1.svg");
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10000;
}
.para2
{
    max-width:500px;
    font-size: 35px;
    font-family:'Lovelace';
    font-weight:700;
    margin-top:10vh;
    margin-left:10vw;
}  
.p3
{
    font-size: 25px;
    font-family:'Lovelace';
    font-weight:lighter;
}
.foo
{
    max-width:40vw;
    margin-top:10vh;
    margin-left:10vw;

}
.foo button
{
    width:120px;
    height:50px;
    margin-left:2vw;
    margin-top:2vw;
    background-color: #EEECDE;
}

/* book_description------------------ */


.book_desc{
    /* background-image: url("images/book_desc.jpg"); */
    height: auto;
    background-repeat: no-repeat;
    /* align-items: center; */
    overflow-x: hidden;
    display: flex;

}


.book_desc h3 {
    text-align: justify;
    font-weight: 100;
    font-family: 'Lovelace';
    font-size: 2em;
    
}

.book_desc img{
    margin-top: 21em;
}

/* -------auth_desc---- */


.auth_desc {
    background-image: url("images/auth_desc.jpg");
    height: 60em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
}


.auth_desc  {
    display: grid;
    align-items: center;
    /* margin-right: 0.5em; */
}

.auth_desc_content{
    /* margin-right: 3em; */
    margin-top: 6em;
} 


.auth_desc h3 {
    text-align: justify;
    font-weight: 100;
    font-family: 'Lovelace';
    font-size: 1.7em;
    /* margin-left: -4em; */
}


.auth_desc_img img {
    /* margin-top: 2em; */
    /* margin-right: -24em; */
    margin-bottom: 2em;
    height: 35em;
    width: 25em;
}


/* glimpse_into----- */

.glimpse_intro {
    background-image: url("images/glimpse intro.jpg");
    height: 60em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glimpse_intro h1{
    text-align: center;
    font-weight: 100;
    font-family: 'Lovelace';
    font-size: 9em;
}




/* glimpse 1-------------------- */


.glimpse-1 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-1_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-1_content img {
    margin-left: -20em;
    /* height: 4em; */
    margin-bottom: 2em;
}

.glimpse-1_content h3 {
    text-align: justify;
    font-weight: 100;
    margin-left: -3em;
    font-family: 'Lovelace';
    font-size: 2em;
    
}


.glimpse-1_img img {
    margin-right: -24em;
    height: 50em;
    width: 35em;
}

/* glimpse 2-------------------- */


.glimpse-2 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}


.glimpse-2_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-2_content img {
    /* margin-left: -20em; */
    /* height: 4em; */
    margin-bottom: 2em;
}

.glimpse-2_content h3 {
    text-align: justify;
    font-weight: 100;
    /* margin-left: -3em; */
    font-family: 'Lovelace';
    font-size: 2em;
    
}


.glimpse-2_img img {
    margin-left: -24em;
    height: 50em;
    width: 35em;
}

/* glimpse3------------- */

.glimpse-3 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-3_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-3_content img {
    margin-left: -20em;
    height: 13em;
    margin-bottom: 4em;
}

.glimpse-3_content h3 {
    text-align: justify;
    font-weight: 100;
    margin-left: -3em;
    font-family: 'Lovelace';
    font-size: 2em;
    
}

.glimpse-3_img img {
    margin-right: -20em;
    height: 52em;
    width: 32em;
}

/* glimpse4------------- */




.glimpse-4 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-4_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-4_content img {
    /* margin-left: -20em; */
    /* height: 4em; */
    margin-bottom: 2em;
}

.glimpse-4_content h3 {
    text-align: justify;
    font-weight: 100;
    /* margin-left: -3em; */
    font-family: 'Lovelace';
    font-size: 2em;
    
}


.glimpse-4_img img {
    margin-left: -24em;
    height: 52em;
    width: 35em;
}

/* glimpse5---------- */

.glimpse-5 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-5_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-5_content img {
    margin-left: -20em;
    margin-bottom: 2em;
    /* height: 4em; */
}

.glimpse-5_content h3 {
    text-align: justify;
    font-weight: 100;
    margin-left: -3em;
    font-family: 'Lovelace';
    font-size: 2em;
    
}



.glimpse-5_img img {
    margin-right: -24em;
    height: 50em;
    width: 40em;
}

/* glimpse6--------- */


.glimpse-6 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-6_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-6_content img {
    /* margin-left: -20em; */
    /* height: 4em; */
    margin-bottom: 2em;
}

.glimpse-6_content h3 {
    text-align: justify;
    font-weight: 100;
    /* margin-left: -3em; */
    font-family: 'Lovelace';
    font-size: 2em;
    
}


.glimpse-6_img img {
    margin-left: -24em;
    height: 50em;
    width: 35em;
}

/* glimpse7---------- */

.glimpse-7 {
    /* position: fixed; */
    height: auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

}

.glimpse-7_content {
    margin-top: 5em;
    display: grid;
    align-items: center;
}


.glimpse-7_content img {
    margin-left: -20em;
    /* height: 4em; */
    margin-bottom: 2em;
}

.glimpse-7_content h3 {
    text-align: justify;
    font-weight: 100;
    margin-left: -3em;
    font-family: 'Lovelace';
    font-size: 2em;
    
}


.glimpse-7_img img {
    margin-right: -24em;
    height: 50em;
    width: 38em;
}



@font-face {
    font-family: 'Nostalgic Memories';
    src: local('Nostalgic Memories Italic 2'), local('Nostalgic-Memories-Italic-2'),
        url('NostalgicMemories-Italic2.woff2') format('woff2'),
        url('NostalgicMemories-Italic2.woff') format('woff'),
        url('NostalgicMemories-Italic2.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




